.title {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .form {
    margin: 30px;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-left: 45px;
    
    
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  

  #email-error{
    color: red;
    margin: 10px;
  }
  #password-error{
    color: red;
    margin: 20px
  }